/* src/pages/CarDetailsPage/CarDetailsPage.module.css */

.pageContainer {
  max-width: 1200px;
  margin: 100px auto 50px auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.detailsWrapper {
  display: flex;
  gap: 72px;
  flex-wrap: nowrap;
}

.leftColumn {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: 640px;
  max-width: 640px;
}

.rightColumn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 488px;
  max-width: 488px;
}

/* --- Image Block --- */
.imageBlock {
  width: 100%;
  height: 512px;
  border-radius: 19px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- Rental Form --- */
.rentalForm {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 100%;
  background-color: var(--white);
  box-shadow: none;
  box-sizing: border-box;
}

.formTitleContainer {
  width: 100%;
  margin-bottom: 40px;
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.formSubtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  margin: 0;
}

.inputGroup {
  margin-bottom: 14px;
}

/* Inputs styles - START */
.textInput,
.emailInput,
.commentInput {
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  background-color: var(--inputs);
  border: 1px solid transparent;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main);
  outline: none;
  transition: border-color 0.3s ease;
}

:global(.react-datepicker-wrapper) {
  display: block;
  width: 100%;
}

:global(.react-datepicker__input-container) {
  width: 100%;
}

:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--range-start),
:global(.react-datepicker__day--range-end),
:global(.react-datepicker__day--selecting-range),
:global(.react-datepicker__day--in-selecting-range),
:global(.react-datepicker__day--in-range) {
  border-radius: 50%;
  background-color: var(--button);
  color: var(--white);
}

:global(.react-datepicker__day:hover),
:global(.react-datepicker__day--keyboard-selected) {
  border-radius: 50%;
}

:global(.react-datepicker__navigation-icon::before) {
  border-color: var(--button);
}

:global(.react-datepicker__navigation--previous) {
  left: 10px;
}

:global(.react-datepicker__navigation--next) {
  right: 10px;
}

:global(.react-datepicker__current-month) {
  color: var(--main);
}

:global(.react-datepicker__day-name) {
  color: var(--main);
}

.dateInput {
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  background-color: var(--inputs);
  border: 1px solid transparent;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main);
  outline: none;
  transition: border-color 0.3s ease;
}

.textInput::placeholder,
.emailInput::placeholder,
.dateInput::placeholder,
.commentInput::placeholder {
  color: var(--gray);
}

.textInput:focus,
.emailInput:focus,
.dateInput:focus,
.commentInput:focus {
  border-color: var(--button);
}

.commentInput {
  height: 88px;
  overflow: auto;
  resize: none;
}
/* Inputs styles - END */

.submitBtn {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: var(--button);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: var(--button-hover);
}

/* --- Details Block (Car Info) --- */
.detailsBlock {
  background-color: var(--white);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.detailsTitleContainer {
  margin-bottom: 20px;
}

.mainTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 4px;
}

.modelAccent {
  color: var(--button);
}

.carIdText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  margin-top: 0;
  margin-bottom: 0;
}

.locationMileageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: nowrap;
  gap: 5px 10px;
}

.locationBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.locationText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin: 0;
}

.mileageText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin: 0;
  white-space: nowrap;
}

.rentalPriceText {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
  margin-bottom: 20px;
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin-bottom: 0;
}

/* --- Car Info Block (Accessories & Functionalities) --- */
.carInfoBlock {
  background-color: var(--white);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Common styles for headings of all "Car Info" sub-blocks | Загальні стилі для заголовків всіх підблоків "Car Info" */
.carInfoSectionTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 14px;
}

/* Common styles for lists of all "Car Info" subblocks | Загальні стилі для списків всіх підблоків "Car Info" */
.carInfoList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  margin-bottom: 20px;
}

.carInfoListItem {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  display: flex;
  align-items: center;
  gap: 8px;
  height: 20px;
  white-space: nowrap;
}

/* Styles for the checkmark icon in Rental Conditions | Стилі для іконки галочки в Rental Conditions */
.checkIcon {
  color: var(--button);
  min-width: 16px;
  min-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Common styles for values in "Specifications" (e.g. "Year: 2008") | Загальні стилі для значення в "Specifications" (наприклад, "Year: 2008") */
.carInfoValue {
  font-weight: 500;
  color: var(--gray);
}

/* --- Media queries for adaptation NotFoundPage | Медіа-запити для адаптації NotFoundPage --- */

/* Laptops and large tablets: up to 1200px (for overall consistency) | Ноутбуки та великі планшети: до 1200px (для загальної консистентності) */
@media screen and (max-width: 1200px) {
  .pageContainer {
    margin: 80px auto 40px auto;
    padding: 0 30px;
    overflow-x: hidden;
  }

  .detailsWrapper {
    gap: 30px;
    flex-wrap: nowrap;
  }

  .leftColumn,
  .rightColumn {
    flex-basis: 0;
    flex-grow: 1;
    max-width: none;
    min-width: 300px;
  }

  .imageBlock {
    height: 400px;
  }

  .rentalForm {
    padding: 25px;
  }

  .detailsBlock,
  .carInfoBlock {
    padding: 25px;
  }

  .mainTitle {
    font-size: 22px;
  }

  .carInfoSectionTitle {
    font-size: 18px;
  }

  .carInfoListItem {
    font-size: 15px;
  }

  .carInfoList {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
  }
}

/* Tablets: up to 768px | Планшети: до 768px */
@media screen and (max-width: 768px) {
  .pageContainer {
    margin: 60px auto 30px auto;
    padding: 0 20px;
    overflow-x: hidden;
  }

  .detailsWrapper {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    max-width: 600px;
    min-width: auto;
  }

  .imageBlock {
    height: 300px;
  }

  .rentalForm {
    padding: 20px;
  }

  .mainTitle {
    font-size: 20px;
  }

  .carIdText,
  .locationText,
  .mileageText,
  .description,
  .formSubtitle,
  .carInfoListItem {
    font-size: 14px;
  }

  .rentalPriceText {
    font-size: 20px;
  }

  .carInfoSectionTitle {
    font-size: 17px;
  }

  .inputGroup {
    margin-bottom: 10px;
  }

  .textInput,
  .emailInput,
  .dateInput,
  .commentInput {
    height: 44px;
    padding: 10px 15px;
    font-size: 15px;
  }

  .commentInput {
    height: 80px;
    padding-bottom: 50px;
  }

  .submitBtn {
    width: 140px;
    height: 40px;
    font-size: 15px;
    padding: 10px 40px;
  }

  .detailsBlock,
  .carInfoBlock {
    padding: 20px;
  }

  .carInfoList {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
  }

  /* For `locationMileageContainer` on tablets - allow portability if necessary | Для `locationMileageContainer` на планшетах - дозволяємо переноситись, якщо необхідно */
  .locationMileageContainer {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px 10px;
  }
}

/* Mobile devices: up to 480px | Мобільні пристрої: до 480px */
@media screen and (max-width: 480px) {
  .pageContainer {
    margin: 40px auto 20px auto;
    padding: 0 15px;
    overflow-x: hidden;
  }

  .detailsWrapper {
    gap: 20px;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    max-width: none;
  }

  .imageBlock {
    height: 220px;
    border-radius: 12px;
  }

  .rentalForm {
    padding: 15px;
    border-radius: 12px;
  }

  .mainTitle {
    font-size: 18px;
  }

  .carIdText,
  .locationText,
  .mileageText,
  .description,
  .formSubtitle,
  .carInfoListItem {
    font-size: 13px;
  }

  .rentalPriceText {
    font-size: 18px;
  }

  .carInfoSectionTitle {
    font-size: 16px;
  }

  .inputGroup {
    margin-bottom: 8px;
  }

  .textInput,
  .emailInput,
  .dateInput,
  .commentInput {
    height: 40px;
    padding: 8px 12px;
    font-size: 14px;
  }

  .commentInput {
    height: 70px;
    padding-bottom: 40px;
  }

  .submitBtn {
    width: 120px;
    height: 36px;
    font-size: 14px;
    padding: 8px 30px;
    margin-top: 15px;
  }

  .detailsBlock,
  .carInfoBlock {
    padding: 15px;
    border-radius: 12px;
  }

  .locationMileageContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: nowrap;
  }

  .carInfoList {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
  }

  .carInfoListItem {
    white-space: normal;
    height: auto;
  }
}
